//Consepts tools' list.
.skills__conceptsTools.concepts
  h3.concepts__title Немного больше
  .clearfix
  ul.concepts__conceptsList.conceptsList
    li.conceptsList__item.item
      a.item__refer.anchor(href="http://compass-style.org/") Compass
        span.item__desc.tooltip(title="Библиотека написанная на SASS с множеством примочек.") Библиотека написанная на SASS с множеством примочек.
    li.conceptsList__item.item 
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/JQuery_UI") jQuery UI
        span.item__desc.tooltip(
          title="Библиотека с готовым и настраиваемым пользовательским интерфейсом."
        ) Библиотека с готовым и настраиваемым пользовательским интерфейсом.
    li.conceptsList__item.item
      a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/Ext_JS") ExtJS
        span.item__desc.tooltip(
          title="Огромная библиотека с элементами пользовательского интерфейса, которые в основном нужна для сайтов с высокой нагрузкой."
        ) Огромная библиотека с элементами пользовательского интерфейса, которые в основном нужна для сайтов с высокой нагрузкой.
    li.conceptsList__item.item
      a.item__refer.anchor(href="http://fontawesome.io/icons/") Font-awesome
        span.item__desc.tooltip(
          title="Стильные иконки написанные на CSS."
        ) Стильные иконки написанные на CSS.
    li.conceptsList__item.item 
      a.item__refer.anchor(href="https://modernizr.com/") Modernizr
        span.item__desc.tooltip(
          title="Инструмент для тестирования способностей браузеров."
        ) Инструмент для тестирования способностей браузеров.
    li.conceptsList__item.item 
      a.item__refer.anchor(href="http://susy.oddbird.net/") Susy
        span.item__desc.tooltip(
          title="Удобная систем разметки сетки."
        ) Удобная систем разметки сетки.