ul.techno__techList.techList
  li.techList__itemTechList.techList__itemTechList-icon_html.itemTechList
    .progress
      .itemTechList__text.progress-bar(
        role="progressbar",
        aria-valuenow="80",
        aria-valuemin="0",
        aria-valuemax="100",
        style="width:80%"
      ) HTML
  li.techList__itemTechList.techList__itemTechList-icon_css.itemTechList
    .progress 
      .itemTechList__text.progress-bar(
        role="progressbar",
        aria-valuenow="85",
        aria-valuemin="0",
        aria-valuemax="100",
        style="width: 85%"
      ) CSS
  li.techList__itemTechList.techList__itemTechList-icon_js.itemTechList
    .progress 
      .itemTechList__text.progress-bar(
        role="progressbar",
        aria-valuenow="60",
        aria-valuemin="0",
        aria-valuemax="100",
        style="width:60%"
      ) JS
  li.techList__itemTechList.techList__itemTechList-icon_jquery.itemTechList
    .progress 
      .itemTechList__text.progress-bar(
        role="progressbar",
        aria-valuenow="85",
        aria-valuemin="0",
        aria-valuemax="100",
        style="width:85%"
      ) jQuery
  li.techList__itemTechList.techList__itemTechList-icon_sql.item
    .progress 
      .itemTechList__text.progress-bar(
        role="progressbar",
        aria-valuenow="25",
        aria-valuemin="0",
        aria-valuemax="100",
        style="width:25%"
      ) SQL