.portfolio__works.works
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/blanq/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_blanq(
        src="../img/blanq.PNG",
        alt="Landing page.")
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/brodsky/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_brodsky(
      src="../img/brodsky.PNG",
      alt="Here's beautiful page about Joseph Brodsky. Follow refer!")
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/web_studio/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_webStudio(
      src="web_strudio.jpg",
      alt="One page of the web-studio's portfolio."
      )
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/territorio/build/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
        src="../img/territorio.png",
        alt="Landing page."
        )