.portfolio__works.works
  .works__elemWork
    a.anchor(href="http://smart-tiles.tw1.ru")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
<<<<<<< HEAD
        src="img/works/smart-tiles.PNG",
=======
        src="/img/works/smart-tiles.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Just a smart-site."
      )
  .works__elemWork
    a.anchor(href="http://codepen.io/ShiningFinger/full/PWMJVo/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
<<<<<<< HEAD
        src="img/works/twitch-streamers.PNG",
=======
        src="/img/works/twitch-streamers.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="You want to know who striming now? Twitch API will help you with pleasure."
      )
  .works__elemWork
    a.anchor(href="http://codepen.io/ShiningFinger/full/XpqVeR/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
<<<<<<< HEAD
        src="img/works/wiki-viwer.PNG",
=======
        src="/img/works/wiki-viwer.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Wiki Viewer."
      )
  .works__elemWork
    a.anchor(href="http://codepen.io/ShiningFinger/full/MJVZdO/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
<<<<<<< HEAD
        src="img/works/weatherAPI.PNG",
=======
        src="/img/works/weatherAPI.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Wheater in your city.."
      )
  .works__elemWork
    a.anchor(href="http://codepen.io/ShiningFinger/full/qRmxMv/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_rqm(
<<<<<<< HEAD
        src="img/works/random-quotes-machine.PNG",
=======
        src="/img/works/random-quotes-machine.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Randome Quotes Machine."
        )
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/territorio/build/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
<<<<<<< HEAD
        src="img/works/territorio.png",
=======
        src="/img/works/territorio.png",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Landing page - Territorio."
      )
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/blanq/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_blanq(
<<<<<<< HEAD
        src="img/works/blanq.PNG",
=======
        src="/img/works/blanq.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
        alt="Landing page - BLANQ.")
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/brodsky/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_brodsky(
<<<<<<< HEAD
      src="img/works/brodsky.PNG",
=======
      src="/img/works/brodsky.PNG",
>>>>>>> d438e7f9a5f4dec8c8e01b216021157e8778f761
      alt="Here's beautiful page about Joseph Brodsky. Follow refer!")
  .works__elemWork
    a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/web_studio/")
      img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_webStudio(
      src="img/works/web_studio.jpg",
      alt="One page of the web-studio's portfolio."
      )
  
