ul.techno__techList.techList
  | {% for technology in technologies %}
  | {% if technology.is_showed %}
  li.techList__itemTechList.itemTechList.showTip(
    data-supertip="{{technology.tooltip}}"
  )
    figure.itemTechList__icon(
      style="background-image: url('/media/{{technology.icon}}');width: {{technology.icon.width}}px;"
    )
    a.anchor(href="{{technology.link}}")
      .progress
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="{{technology.progress}}",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:{{technology.progress}}%"
        ) {{technology.name}}
  | {% endif %}
  | {% endfor %}