<!-- The Tools List -->
ul.tools__toolsList.toolsList
  | {% for tool in tools %}
  | {% if tool.is_showed %}
  li.toolsList__itemToolsList.itemToolsList.showTip(
    data-supertip="{{tool.tooltip}}"
  )
    figure.itemToolsList__icon(
      style="background-image: url('/media/{{tool.icon}}'); width: {{tool.icon.width}}px;"
    )
    a.anchor(href="{{tool.link}}")
      .progress
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="{{tool.progress}}",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:{{tool.progress}}%"
        ) {{tool.name}}
  | {% endif %}
  | {% endfor %}