section#portfolio
  .portfolio.container
    //Portfolio title.
    .portfolio__title.title
      h2.title__name Portfolio
      p.title__description These are my works what i've done of blood and sweat.
      //Portfolio works.
    .portfolio__works.works
      .works__elemWork
        a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/blanq/")
          img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_blanq(
            src="https://lh3.googleusercontent.com/CBs3RGCdVA7jkYEJB42nq4SLKAKaSCIdilxNChPTE8otv5IvnAuSspgXnX4iyR-MIOKl3c-gsdH3PVO8AnQMJt4sOACBey9nLJLsNfSf4cFJuctIg1DxvPMWvuVXX8zoFQSs91OrajpX2iaa4iS8Q2KsJWS4baUQfQd52QQjruwlFXZKEo4PHahr2Fk9f68RYy8qN4py7cOoOoVu26CmXbaMbVl7b_Jr4zOA0OgU_Li0FCicjHabhrj8SueekYnizwpiSoFqOD_-k5dkHTVxQcZu_uNaniOvn6XVXML9DRL2gVmPf9Rmu8YYUPVx0eUwU7sThCFeF8_3Y7DVuEHx-BpP6vHosQ-lCYOXK_-g3VOqEmkNLG00frrLb3XTLfuMbV17WWUXm8Xe_30OmQkvWjrYVe2YnAgT0gTfaG3fuw9ttzURiG-aPGfLkBehaP99GcoPe1Vq3jBYcpzzOaAeXIYCNSsfWufUk5WFecOSO7ikXG42L3xVivR2qnKsfifM4TyAXqFQGGIxRIEQy88LyaAVrH7daC6Z3EmwXzXWioObS0r4W_hnblIbnBgwyp7vO1g7FidzHhzMr5xUNC90FfWGHZhDMFFdtylyMnE5sQQ1pMFVuc4=w1918-h1030-no",
            alt="Landing page.")
      .works__elemWork
        a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/brodsky/")
          img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_brodsky(
          src="https://lh3.googleusercontent.com/rO1WfITzEEFHLHRzTzcBUtECblIGTMOkg5nNOCCqM3YwhuVBaHV1r3orVgjnGvgCQcZTFgqj9fx0gNWOnEKA09DKAx34cWsS3AMoHF3gG8sMizFrxNDmy6-4hrA6ichNqeRwxwLE3-Ep47jg_ecmCjjajui2SnsyCoi3cOH621BwpnY9YEpofiaI7qsoxyxcMxvJj4CBU-bn8QihdBgTw0iryJo28lE9uQbPvScyB15LORK7SCjV5pXT5tJWbTnQ6-ruOOY5u4AHEVzQ5TP5bbuC3DMF2Fm1GYWNcDqjWB_plqcXYWyoHz1arfBojFUfuCiD9k9sHI8tLO0sOH8RymbXk_RD-quCEnsGa4PL7m0ekHBL6KodSM5c4UmiyRl54Z8X7axe83FYXDvxpU6ge3FgIYfb9r1Lc_v7-p5PW52alkXJM1KHQQ8_WXTJOwXcfVhKCErJU0M0mMurjL1TykgBaz6yzq3pj4QvIaidUczFf36uN0WbJT-BRXC6UfYjARHfVnSeQE9WHfnHBSUJBMuz9Yja7ykPHpQBbZB-iFkqfXxymqnpJ4W6pT99SekZU67s2ms0ENrcFRITacOoGGdG96sD317ftNEUQc-1W2uJ6dkjRG8=w1918-h1030-no",
          alt="Here's beautiful page about Joseph Brodsky. Follow refer!")
      .works__elemWork
        a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/web_studio/")
          img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_webStudio(
          src="https://lh3.googleusercontent.com/kBva625W8HK_wFpiv56TbEeaxGAzE_5OXLkUtsaBPuOcY5JR_F19-uRtdzd5f_Yf6vYGOLuP_3-RDcFEfURJgjGaZQuoufTINK9zI62ZivnWnwgY1jEEfBdZFFfPXl3xZ-HjcEdmqu2Gxg1XBPcGBrw1qGhkhbBfeZPlA6Qdsm39P49PEaYQWXzgFEPlcFPieFifnU_Ap822UHZtLpoVqczBaTKu7EUyOPqfnehEr6m5uDNcf13kEO-xdNNc3xnuRuqLCEzHAAhQBC8vvzy3PsKHwQHI3HMaXcriufVdC-3Z9-IdhsKiVfTg0i0vDHaZzFYHocmlnw4fQe6xzxT2OrM5BNtY0HaWo88W2YE8xCt9ZFrWjfvmSygOeO8q5zQUVdgHiE8AQyL0LT5uBbqJX49eg7ESfla7rJ5_jQlVOGSZ_KV7fi3gFpuEwpckL7X8-ht8vMu5vpKaLmtbrBGzHuJg-q_mvmqw6Yl64Na-T63-_5KHCEwqIgOR2GrJvDEOMn1th6uuZZZGQ1sglIGpiFiPgA5gBcxXS-Mxm0iaR5Zd1uJyXNoUtsOKWvYAwShuMD5Do6k8DK_0Bvyqo5iLYptHeZ0H4Dblg_786CsWMHE6f_4=w1918-h1025-no",
          alt="One page of the web-studio's portfolio."
          )
      .works__elemWork
        a.anchor(href="https://wishez.github.io/portfolio/peaceOfShit/territorio/build/")
          img.img-responsive.img-thambnail.elemWork__img.elemWork__img-work_territorio(
            src="https://lh3.googleusercontent.com/olvBieoC49uu-d6LhcMpxKJrVwWd_lnMSIMSMlsIqIOd63IESoxA83y8yDiC5vnGJcqL5DzwLdw1XChnOSHqiu46c4IEQoZxIjahbc-MMdpU4Xx6qdYTiV_PiJKzFBw9WF_eqjft1bVq9nGcDruWYRx705PcQLmCZfHenmJ2R4grPwztw8Y3mLlMAJmU2OO8g6kty4-cBggts_iJAawC6t9hz92t91YjBl_WyJLN1aHNC_VpiqDnQWWSvua35_QknV9WN1-Fm61q20U_PCp3hbec19uSweieYo3d5_V5P4dsd9Mgv_CxGMNMJXphOH0oV2zxK6BqW_s3_HlCuYWhNdpeNLFpQYjCZbYe5Ssszpvfg3m-mcPjP2XNQTw0FDJNkhYLEZtwGeUpFpto7f-9qwLx-G-fCIYj-w_9sc7Rh9niBrRW2t5cDWVlxgLoddy5NtZ3UZ8KGAnzy2h_Fc85X45Uaf9w9jzPh2u60mccDpMoUYVef-qlY_kMhB0gN-xFw_aZICx49KnH7QGVn2s3w8xFFVCZbGkQ_WOfIcqC68EeYxC0Ow4p7MFGkgOag4tuLGz2h4eJdhWFyGmt3zVnhwE_Su3ZYUiu4u8zinOw5c8CjHBFpA8=w1918-h1028-no",
            alt="Landing page."
            )
    // End portfolio section.