ul.concepts__conceptsList.conceptsList
  li.conceptsList__item.item 
    a.item__refer.anchor(href="http://alistapart.com/article/responsive-web-design") Resposible Design
      span.item__desc.tooltip(
        title="Гибкое содержимое, которое подстраивается, адаптирует под экран пользователя."
      ) Гибкое содержимое, которое подстраивается, адаптирует под экран пользователя.
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.wikipedia.org/wiki/Cross-browser") Cross-browser
      span.item__desc.tooltip(
        title="Реализация одного и того же вида сайта в разных браузерах."
      ) Реализация одного и того же вида сайта в разных браузерах.
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.bem.info/methodology/") BEM
      span.item__desc.tooltip(
        title="Концепция наименнования элементов страницы для повышения их абстракции и читаемости. "
      ) Концепция наименнования элементов страницы для повышения их абстракции и читаемости. 
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://www.w3.org/WAI/intro/aria") WIA-ARIA
      span.item__desc.tooltip(
        title="Описания структуры  страницы для вспомогательных технологий, таких как экранный диктор."
      ) Описания структуры  страницы для вспомогательных технологий, таких как экранный диктор.
  li.conceptsList__item.item 
    a.item__refer.anchor(href="https://en.wikipedia.org/wiki/Ajax_(programming)") AJAX
      span.item__desc.tooltip(
        title="Асинхронный JavaScript и XML - мощная концепция для частичного динамического обновления страницы."
      ) Асинхронный JavaScript и XML - мощная концепция для частичного динамического обновления страницы.
  li.conceptsList__item.item
    a.item__refer.anchor(href="https://ru.wikipedia.org/wiki/Canvas_(HTML)") Canvas
      span.item__desc.tooltip(
        title="Холст, на котором можно рисовать с помощью JavaScript."
      ) Холст, на котором можно рисовать с помощью JavaScript.