ul.techno__techList.techList
  li.techList__itemTechList.techList__itemTechList-icon_html.itemTechList
    a.anchor(href="https://ru.wikipedia.org/wiki/HTML")
      span.item__desc.tooltip(title="Язык - на котором пишется структура страницы, её фундамент.") Язык - на котором пишется структура страницы, её фундамент.
      .progress
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="80",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:80%"
        ) HTML
  li.techList__itemTechList.techList__itemTechList-icon_css.itemTechList
    a.anchor(href="https://ru.wikipedia.org/wiki/CSS")
      span.item__desc.tooltip(title="Язык, который расскрашивает структуру страницы и даже анимирует") Язык, который расскрашивает структуру страницы и даже анимирует. 
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="85",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width: 85%"
        ) CSS
  li.techList__itemTechList.techList__itemTechList-icon_js.itemTechList
    a.anchor(href="https://ru.wikipedia.org/wiki/JavaScript")
      span.item__desc.tooltip(title="Даёт возможность в режиме реального времени менять структуру(уже стилизованную и нет) странцы и не только.") Даёт возможность в режиме реального времени менять структуру(уже стилизованную и нет) странцы и не только.
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="60",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:60%"
        ) JS
  li.techList__itemTechList.techList__itemTechList-icon_jquery.itemTechList
    a.anchor(href="https://ru.wikipedia.org/wiki/JQuery")
      span.item__desc.tooltip(title="Библиотека JavaScript, которая упрощает взаимодействие с элементами структуры и ускоряет разработку.") Библиотека JavaScript, которая упрощает взаимодействие с элементами структуры и ускоряет разработку.
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="85",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:85%"
        ) jQuery
  li.techList__itemTechList.techList__itemTechList-icon_sql.item
    a.anchor(href="https://ru.wikipedia.org/wiki/SQL")
      span.item__desc.tooltip(title="Язык для общения с базой данных.") Язык для общения с базой данных.
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="25",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:25%"
        ) SQL
  li.techList__itemTechList.techList__itemTechList-icon_python.item
    a.anchor(href="https://ru.wikipedia.org/wiki/Python")
      span.item__desc.tooltip(title="Позволяет разговаривать с сервером на парселтанге.") Позволяет разговаривать с сервером на парселтанге. 
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="20",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:20%"
        ) Python
  li.techList__itemTechList.techList__itemTechList-icon_react.item
    a.anchor(href="https://facebook.github.io/react/")
      span.item__desc.tooltip(title="Библиотека, которая даёт возможность эффективно управлять динамикой содержимого на странице. Очень важная технология в front-end разработке.") Библиотека, которая даёт возможность эффективно управлять динамикой содержимого на странице. Очень важная технология в front-end разработке.
      .progress 
        .itemTechList__text.progress-bar(
          role="progressbar",
          aria-valuenow="50",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:50%"
        ) ReactJS
  //- li.techList__itemTechList.techList__itemTechList-icon_angular.item
    //- a.anchor(href="https://ru.wikipedia.org/wiki/AngularJS")
      //- span.item__desc.tooltip(title="Ещё один фреймворк, который я постигну в ближайшем будущем. ") Ещё один фреймворк, который я постигну в ближайшем будущем. 
      //- .progress 
        //- .itemTechList__text.progress-bar(
          //- role="progressbar",
          //- aria-valuenow="10",
          //- aria-valuemin="0",
          //- aria-valuemax="100",
          //- style="width:10%"
        //- ) AngularJS    