doctype
html.no-js(lang="ru")
head
  meta(charset="UTF-8")
  meta(
    name="viewport",
    content="width=device-width, initial-scale=1.0"
  )
  meta(
    http-equive="X-UA-Compatible",
    content="IE=edge"
  )
  | {% block title %}
  | {% endblock %}
  link(
    rel="stylesheet",
    href="/media/portfolio/css/main-ru.css",
    media="none",
    onload="if (media !== 'all') media='all';"
  )
  style.
    .curtains, .preloader {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 10000;
    }
    .curtains {
      top: 0;
      left: 0;
      background-color: #ccc;
    }
    
    .preloader {
      background: url('/media/portfolio/img/ajax-loader.gif') no-repeat center;
      background-size: 100px;
    }
  
  <!--[if IE]>
    <link href="/media/portfolio/css/ie9.css" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->
  
    
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
  <![endif]-->
  script(href="/media/portfolio/js/modernizr.min.js", async)
body
  .curtains
    figure.preloader
  | {% block content %}
  | {% endblock %}
  
script(src="/media/portfolio/js/main.js", async)

link(
    rel="stylesheet",
    href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css",
    lazyload=1
)
//
//script(async, src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')

link(
  href="/media/portfolio/css/screen.css", 
  media="none",
  rel="stylesheet",
  onload="if(media != 'screen') media='screen';"
)

link( 
  href="/media/portfolio/css/print.css",
  media="none",
  rel="stylesheet",
  type="text/css",
  onload="if(media != 'print') media='print';"
)
link(
  rel="icon",
  type="image/png",
  href="/media/portfolio/img/my_face.png"
)
link(
    rel="stylesheet",
    href="/media/portfolio/css/ie.css",
    media="none",
    onload="if(media != 'all') media='all';"
)