meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel='dns-prefetch' href="https://shining-present.ru")
link(rel='subresource' href="/static/portfolio/css/app.css")
link(rel='subresource' href="/static/portfolio/js/app.js")
link(rel='prefetch' href="/static/portfolio/css/app.css")
link(rel='prefetch' href="/static/portfolio/js/app.js")
link(rel='prerender' href="/protfolio")
link(rel='prerender' href="/about")
link(rel='prerender' href="/technologies")
link(rel='prerender' href="/articles")
link(rel='preload' href="/static/portfolio/css/app.css" as="style")
link(rel='preload' href="/static/portfolio/js/app.js" as="script")
link(
  rel="icon",
  href="{% static '/portfolio/img/favicon.ico' %}"
)
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/portfolio/img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/portfolio/img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/portfolio/img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static '/portfolio/img/site.webmanifest' %}">
<link rel="mask-icon" href="{% static '/portfolio/img/safari-pinned-tab.svg' %}" color="#515151">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

| {% if page.page_title %}
title {{ page.page_title }}
| {% else %}
title Page
| {% endif %}
| {% if page.meta %}
meta(name='description', content="{{ page.meta }}")
| {% else %}
meta(name='description', content="No meta")
| {% endif %}
link(
  rel="stylesheet",
  href="{% static 'portfolio/css/app.css' %}",
  media="all"
)
