.hat.navbar-header
  a.hat__resume.navbar-brand(href='#')= "Resume"
  button.hat__btn.collapsed.navbar-toggle(
    type=button
    data-toggle='collapse'
    data-target='#collapsable'
    aria-expanded='false'
  )
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar