<!-- The Tools List -->
ul.tools__toolsList.toolsList
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_gulp.itemToolsList
    span.item__desc.hidden Сборщик пакетов, который служит для выполнения рутиных задач веб-мастера, что делает разработку в over9000 раз быстрее.
    a.anchor(href="http://getinstance.info/articles/tools/introduction-to-gulp/")
      .progress
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="60",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:60%"
        ) Gulp
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_git.itemToolsList
    span.item__desc.hidden Удобная штука для хранения и демонстрации сайта/приложения/кода.
    a.anchor(href="https://ru.wikipedia.org/wiki/Git")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="50",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:50%"
        ) Git
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_sass.itemToolsList
    span.item__desc.hidden Надстройка над языком CSS, которая делает его сладким в создание хороших таблиц стилей;3. 
    a.anchor(href="https://ru.wikipedia.org/wiki/Sass")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="65",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:65%"
        ) Sass
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_pug.itemToolsList
    span.item__desc.hidden Надстройка над языком HTML, упрощающая описания структуры документа. Не менее сладкая, чем SASS;3.
    a.anchor(href="https://pugjs.org/api/getting-started.html")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="45",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:45%"
        ) Pug
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_bootstrap.item
    span.item__desc.hidden Библиотека готовых интерфейсов, которые упрощают разработку и повышают её скорость.
    a.anchor(href="http://bootstrap-3.ru/index.php")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="70",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:70%"
        ) Bootstrap
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_photoshop.item
    span.item__desc.hidden Фотошоп - это фотошоп, вот что это.
    a.anchor(href="https://ru.wikipedia.org/wiki/Adobe_Photoshop")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="55",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:55%"
        ) Photoshop
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_bable.item
    span.item__desc.hidden Компилирует стандарт языка ECMAScript2015 в JS. Я только в процессе его освоения...
    a.anchor(href="https://babeljs.io/")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="10",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:10%"
        ) Bable
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_mocha.item
    span.item__desc.hidden Тесты JavaScript - обычные, автоматизированые.
    a.anchor(href="https://learn.javascript.ru/testing")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="10",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:10%"
        ) Mocha
  li.toolsList__itemToolsList.toolsList__itemToolsList-icon_django.item
    span.item__desc.hidden Django, как Wordpress, такая же свободная система управления контентом, написаная на языке Python.
    a.anchor(href="http://djbook.ru/rel1.9/intro/overview.html")
      .progress 
        .itemToolsList__text.progress-bar(
          role="progressbar",
          aria-valuenow="15",
          aria-valuemin="0",
          aria-valuemax="100",
          style="width:15%"
      ) Django